@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

:root{
  --bg-main: #131722;
  --bg-light: #24baef;
  --main-color:#fff;
}

body{
  font-family: 'Montserrat Alternates', sans-serif !important;
  background-color: var(--bg-main);
  color:var(--main-color);
}
input{
  background-color: transparent !important;
  color: var(--main-color) !important;
}